






.cardStyle {
  margin-bottom: 30px;
  height: 180px;
  width: 180px;






  .logoHull{
    //display: flex;
   // flex-direction: row;
  .logo {
    font-size: 300%;
    text-align: center;

  }
}
  .punktHull{
    display: flex;

    font-size: 100%;

    .punkt{
      align-self: center;
      width: 50%;

    }


    .punktAmount{
       width: 50%;
      align-self: end;
      color: green;
    }
  }


  .buttonHull {
    display: grid;

    .bearbeitungsButton {
      width: 50px;
      background-color: darkred;
      border-color: darkred;
      justify-self: end;


    }
  }
}

.cardColourRed{
  background-color: darkred;
}
.cardColourRed:hover{
  background-color: darkgreen;
}

.cardColourGreen{
  background-color: darkgreen;
}

.cardColourGreen:hover{
  background-color: darkred;
}








