







.cardStyle {
  margin-bottom: 30px;


  .logoHull{
    display: grid;
  .logo {
    font-size: 500%;
    justify-self: center;
  }
}


  .buttonHull {
    display: grid;

    .bearbeitungsButton {
      width: 50px;
      background-color: white;

      justify-self: end;


    }
  }
}








